/* App.css or global.css */
@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Geist+Mono:wght@100..900&display=swap');

/* Apply Coda globally to the whole page */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Coda', sans-serif;
}

/* Reset */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Layout container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 50px;
  margin-right: 50px;
}

/* Content area */
.content {
  flex: 1;
  padding-top: 80px;    /* Adjust based on header height */
  padding-bottom: 80px; /* Adjust based on footer height */
}

/* Sticky Header */
#header-style {
  font-family: 'Coda', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3b4d66;
  color: white;
  padding: 1rem;
  z-index: 1000;

}

.nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 5rem;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  margin-right: 10rem;

}

.menu-li a {
  color: white;
  text-decoration: none;
}

.menu-li a:hover {
 
 
  font-weight: bold;
}



/* Sticky Footer */
#footer-style {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3b4d66;
  color: white;
  padding: 1rem;
}

/* Nav styles */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  margin: 0;
}



li {
  margin: 0;
}



